.select-form {
  .select {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    width: 200px;
    height: 40px;
    padding-right: 16.9px;
    text-indent: 12px;
    padding-right: 12px;
    box-sizing: border-box;

    .select-option {
      margin-left: 12px;
    }
  }
}
