.tooltips {
    position: relative;
    display: inline-block;
    // border-bottom: 1px dotted black;
    border: none !important;
    color: #999999;
}

.tooltips .tooltiptext-top {
    visibility: hidden;
    width: auto;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 80%;
    margin-left: -60px;
    font-family: "Sofia Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-transform: capitalize;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px);
    padding: 5px 12px;
    border-radius: 8px;
    white-space: nowrap;
}

.tooltips .tooltiptext-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
}

.tooltips .tooltiptext-right {
    visibility: hidden;
    width: auto;
    text-align: center;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 150% !important;
    font-family: "Sofia Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-transform: capitalize;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px);
    padding: 5px 12px;
    white-space: nowrap;
}

.tooltips .tooltiptext-right::after {
    content: "";
    position: absolute;
    top: 28%;
    left: 0%;
    margin-bottom: -15px;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.5) transparent transparent;
}

.tooltips .tooltiptext-bottom {
    visibility: hidden;
    width: auto;
    text-align: center;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 80% !important;
    margin-left: -60px;
    font-family: "Sofia Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-transform: capitalize;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px);
    padding: 5px 12px;
    white-space: nowrap;
}

.tooltips .tooltiptext-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
}

.tooltips .tooltiptext-left {
    visibility: hidden;
    width: auto;
    text-align: center;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    right: 150%;
    margin-left: -60px;
    font-family: "Sofia Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-transform: capitalize;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px);
    padding: 5px 12px;
    white-space: nowrap;
}

.tooltips .tooltiptext-left::after {
    content: "";
    position: absolute;
    top: 28%;
    right: 0%;
    margin-bottom: -18px;
    margin-right: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.5);
}

.tooltips:hover .tooltiptext-top,
.tooltips:hover .tooltiptext-right,
.tooltips:hover .tooltiptext-bottom,
.tooltips:hover .tooltiptext-left {
    visibility: visible;
}