// COLORS
$primary-color:#189B77;
$primary-ii-color: #2D3047;
$primary-iii-color:#1A577E;
$black: black;
$border-color: #D7D7D7;
$background-shadow: 0px 8px 36px -11px rgba(64, 66, 72, 0.16);

// SIDEBAR GLOBAL VAR
$sidebar-inactive-color: #C4C4C4;
$sidebar-active-color: $black;
$sidebar-active-border-color: $black;
$sidebar-width: 236px;
$child-sidebar-width: 175px;
$navbar-height: 78px;
$navbar-tabs-height: 78px;
